* { /* resets all default margins to zero */
  margin: 0;
  padding: 0;
  cursor: url(assets/cursor.png), auto;
}

@font-face {
  font-family: "Msoft";
  src: url("./assets/M8pt.woff");
}

/* SIDE ICONS */
.itemIconContainer {
  position: absolute;
  display: flex;
  z-index: 9;
  width: 160px;
  flex-wrap: wrap;
}
.itemIcon {
  display: flex;
  height: 88px;
  width: 60px;
  margin-top: 20px;
  margin-left: 20px;
}
.itemIcon img{
  cursor: url(assets/hand.png), auto;
}

body {
  min-height:100%;
  background-color: #0089da;
  color: black;
  font-family: "Msoft";
  font-size: 8pt;
}

.exit{
  cursor: url(assets/hand.png), auto;
  width: 26px;
  height: 24px;
  position: absolute;
  left: 50%;
  margin-left: 604px;
  margin-top: 10px;
  outline: none;
  border: none;
  
  background-image: url("assets/button.png");
}

.exit:hover{
  background-image: url("assets/button-hover.png");
}

.exit:active{
 background-image: url("assets/button-click.png");
}

#snake-left{
  width: 334px;
  height: 784px;
  position: fixed;
  top: 140px;
  left: 0;
  background-image: url("assets/snake-left.png");
  z-index: -1;
}

#snake-right{
  width: 334px;
  height: 784px;
  position: fixed;
  top: 140px;
  right: 0;
  background-image: url("assets/snake-right.png");
  z-index: -1;
}

#snake-behind{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 748px;
  right: 0;
  background-color: #00ffff;
  z-index: -2;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-wrapper-1{
  border-image: url("assets/gallery.png");
  border-style: solid;
  margin-top: 6vh;
  width: 76%;
  height: 80%;
  background-color: #ffdddf;
  z-index: 10;
  border-image-slice: 10%;
  border-width: 72px 128px;
  border-image-repeat: stretch;
  box-sizing: border-box;
}

.wrapper-wrapper{  
  margin-left: -118px;
  margin-top: -26px;
  width: calc(100% + 236px);
  height: calc(100% + 68px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}

.wrapper {
  width: 100%;
  display: grid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inside {
  width: 175px;
  height: 175px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.inside img{
  cursor: url(assets/hand.png), auto;
}

#warning{
  box-sizing: border-box; /* stops padding from adding to width */
  width: 504px;
  height: 184px;
  background-image: url("assets/warning.png");
  z-index: 11;
  bottom: 20px;
  right: 100px;
  position: absolute;
  font-size: 10pt;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 30px;
}
